<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Email Id</th>
        <th>Date of Birth</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{_userData._firstName}}</td>
            <td>{{_userData._lastName}}</td>
            <td>{{_userData._contactNumber}}</td>
            <td>{{_userData._emailId}}</td>
            <td>{{_userData._dateOfBirth}}</td>
            <td>{{_userData._address}}</td> 
        </tr>
        <tr *ngFor='let user of _userData1'>
            <td>{{user._firstName}}</td>
            <td>{{user._lastName}}</td>
            <td>{{user._contactNumber}}</td>
            <td>{{user._email}}</td>
            <td>{{user._birthDate}}</td>
            <td>{{user._address}}</td>
        </tr>
    </tbody>
</table>
