<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h2 style="text-align:center;">About Us</h2>
            <p>
                Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.
            </p>
        </div>
        <div class="bgimg-2">
            <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
            </div>
        </div>
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
            </div>
        </div>
        <br>
        <div class="bgimg-1">
            <div class="caption">
                <span class="border">COOL!</span>
            </div>
        </div>
    </body>
</html>
